/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* font-family: 'Montserrat', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
/* font-family: 'Lora', serif; */

@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap");
/* font-family: 'Hind Madurai', sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Hind Madurai", sans-serif;
  user-select: none;
}

a {
  text-decoration: none;
  color: #ccc;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  width: 70%;
  margin: 0 auto;
}

button {
  border: none;
  background-color: transparent;
  border-radius: 0.4rem;
  box-shadow: 2px 2px 8px 0px rgba(156, 156, 156, 0.6);
  padding: 0.8rem 1.4rem;
  font-size: 1.2rem;
  transition: 0.3s;
  cursor: pointer;
}

button:hover {
  box-shadow: 2px 2px 8px 0px rgba(156, 156, 156, 1);
}

main,
section {
  padding: 5rem 0;
}

body::-webkit-scrollbar {
  width: 0.6rem;
}

body::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 165, 0, 0.4);
  border-radius: 2rem;
}

/* media query */
@media screen and (max-width: 1200px) {
  .container {
    width: 90%;
  }

  #header,
  #main,
  #services,
  #explore,
  #about,
  #footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .scroll-to-top-btn {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 480px) {
}
