/* Main Slider */
.main__slider-wrapper {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main__slider {
  position: relative;
  height: 400px;
  width: 100%;
}

.main__slide-genre {
  font-family: "Poppins", sans-serif;
  color: rgba(134, 134, 134, 0.1);
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 3rem;
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
  transform: rotate(-90deg);

  z-index: 1000;
}

.main__slide-genre p {
  position: absolute;
  top: -4rem;
  left: 1rem;
}

.main__slide {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.main__slide img {
  border-radius: 0.4rem;
  opacity: 0.8;
  /* box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3); */
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.main__slide.current {
  opacity: 1;
}

.main__slide-index {
  font-family: "Roboto", sans-serif;
  color: transparent;
  font-size: 3rem;
  font-weight: 900;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(209, 209, 209);

  /* background: rgb(85, 20, 20); */
  position: absolute;
  right: -3rem;
  width: 3rem;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  transition: color 0.4s ease-in-out;
}

.main__slide-index .current {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
  color: rgb(201, 196, 196);
}
