.pagination {
  align-self: flex-end;
  position: absolute;
  bottom: 0;
}

.pagination__numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.pagination__number {
  font-size: 1.2rem;
  color: #333;
  border-bottom: 0.2rem solid #ffa500;
  width: 0.8rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}

.pagination__number:hover {
  color: #ccc;
}

.pagination__number h3 {
  margin-bottom: -0.2rem;
}

.pagination__number i {
  position: absolute;
  bottom: -1.4rem;
  left: -0.2rem;
}

/* media query */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px) {
  .pagination {
    position: relative;
    align-self: center;
    justify-self: start;
    bottom: 0;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 480px) {
}
